body {
    background-color: white;
    height: 100vh;

    #mount {
        height: inherit;

        .progress-container {
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}
