@import '../../../Stylesheets/Sass/Variables/_Colors.scss';
@import '../../../Stylesheets/Sass/Variables/_FontFamilies.scss';
@import '../../../Stylesheets/Sass/Variables/_FontSizes.scss';

.login-component-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: inherit;

    p, a, label {
        font-family: $FontFamilyDescriptions;
        font-size: $FontDescriptionMedium;
        color: $ColorSecondary;
    }

    h5 {
        font-family: $FontFamilyTitle;
        font-size: $FontTitleSmall;
        color: $ColorSecondary;
    }

    .login-component {
        -webkit-box-shadow: 1px 1px 6px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 1px 1px 6px 0px rgba(0,0,0,0.75);
        box-shadow: 1px 1px 6px 0px rgba(0,0,0,0.75);
        width: 70%;
        max-width: 600px;
        min-height: 300px;
        border-radius: 3px;
        display: flex;

        &__left-column {
            padding: 30px;
            border-top-left-radius: 3px;
            border-bottom-left-radius: 3px;
            background-color: $ColorPrimary;

            & .left-column__action {
                h5 {
                    margin-bottom: 40px;
                    margin-top: 10px;
                }
            }

            & .left-column__action:not(:first-child) {
                margin-top: 15px;
            }

            & .left-column__action:nth-child(2) {
                margin-top: 50px;
            }
        }

        &__right-column {
            padding: 30px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: $ColorSecondary;

            & .right-column__input-group {
                display: flex;
                flex-direction: column;
                position: relative;

                label {
                    margin-bottom: 5px;
                    color: $ColorLabel;
                }

                & .inputs {
                    display: flex;
                    position: relative;

                    &__icon-container {
                        position: absolute;
                        height: 100%;
                        left: 10px;
                        display: flex;
                        align-items: center;
                        font-size: 20pt;
                        cursor: pointer;
                        color: $ColorThird;
                        z-index: 100;
                    }

                    &__icon-container:nth-child(3) {
                        right: 10px;
                        left: unset;
                    }

                    input {
                        height: 38px;
                        border: 1px solid #acacac;
                        border-radius: 2px;
                        width: 260px;
                        font-size: 14pt;
                        padding-left: 40px;
                        padding-right: 40px;
                    }
                }
            }

            div:nth-child(1) {

                input {
                    padding-right: 10px !important;
                    width: 290px !important;
                }
            }

            & .right-column__input-group:nth-child(2) {

            }

            .right-column__login-error {
                margin-top: 30px;

                p {
                    padding: 10px 30px 10px 30px;
                }
            }

            .login-container {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: 30px;

                .login-container__submit {
                    padding-top: 8px;
                    padding-bottom: 8px;
                    padding-left: 35px;
                    padding-right: 35px;
                    cursor: pointer;
                    background-color: $ColorPrimary;
                    color: $ColorSecondary;
                    border-radius: 3px;
                    position: relative;
                    -webkit-box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.75);
                    -moz-box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.75);
                    box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.75);
                    transition: .05s;
                    user-select: none;
                }

                .login-container__submit:active {
                    -webkit-box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.75);
                    -moz-box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.75);
                    box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.75);
                    top: 1px;
                }
            }
        }
    }
}
