p, label, input {
  font-family: "Roboto Condensed", "sans-serif" !important; }

h1, h2, h3, h4, h5 {
  font-family: "Roboto", "sans-serif" !important; }

.page-load-progress-container {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }

