@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section AddToHead{
    <title>CodeDemo</title>
    <meta name="Description" content="Checklist">
    <link href="~/bundles/CodeDemoBundle.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
}
@section AddToBody{
    <script src="~/bundles/CodeDemoBundle.bundle.js"></script>
}
@Html.AntiForgeryToken()
<div id="mount">

</div>



