@{
    ViewData["Title"] = "SignUp";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section AddToHead{
    <link href="~/bundles/SignUpBundle.css" rel="stylesheet" />
    <link href="~/bundles/Common.css" rel="stylesheet" />
    <meta name="Description" content="Learn about us and the services we offer">
    <title>Sign Up</title>
}
@section AddToBody{
    <script src="~/bundles/SignUpBundle.bundle.js"></script>
}
@Html.AntiForgeryToken()
<div id="mount" class="hocMount">

</div>
