@{
    ViewData["Title"] = "SignUp";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section AddToHead{
    <link href="~/bundles/SignUpBundle.css" rel="stylesheet" />
    <meta name="Description" content="Learn about us and the services we offer">
    <link rel="stylesheet" href="https://maxcdn.icons8.com/fonts/line-awesome/1.1/css/line-awesome-font-awesome.min.css">
    <title>Sign Up</title>
}
@section AddToBody{
    <script src="~/bundles/SignUpBundle.bundle.js"></script>
}
@Html.AntiForgeryToken()
<div id="mount" class="hocMount">

</div>
