@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section AddToHead{
    <title>Checklist</title>
    <meta name="Description" content="Checklist">
    <link href="~/bundles/ChecklistBundle.css" rel="stylesheet" />
}
@section AddToBody{
    <script src="~/bundles/ChecklistBundle.bundle.js"></script>
}
<div id="mount">

</div>
