@{
    ViewData["Title"] = "Home Page";
}
@section AddToHead{
    <link href="~/bundles/HomeBundle.css" rel="stylesheet" />
    <meta name="Description" content="Learn about us and the services we offer">
}
@section AddToBody{
    <script src="~/bundles/HomeBundle.bundle.js"></script>
}
<div id="mount">

</div>
